name: E2E Netlify Cypress

on:
  pull_request:
    branches:
      - develop

jobs:
  e2e:
    runs-on: ubuntu-latest

    steps:
      - name: Wait for Netlify deploy
        run: sleep 30

      - name: Get Netlify Preview URL
        id: preview
        run: |
          RESPONSE=$(curl -s \
            -H "Authorization: Bearer $NETLIFY_AUTH_TOKEN" \
            "https://api.netlify.com/api/v1/sites/web-test-devops/deploys?per_page=5")

          PREVIEW_URL=$(echo "$RESPONSE" | jq -r '
            if type=="array" then
              .[] | select(.context=="deploy-preview") | .deploy_ssl_url
            else
              .deploys[] | select(.context=="deploy-preview") | .deploy_ssl_url
            end
          ' | head -n 1)

          if [ -z "$PREVIEW_URL" ] || [ "$PREVIEW_URL" = "null" ]; then
            echo "âŒ No Netlify preview deploy found"
            exit 1
          fi

          echo "preview_url=$PREVIEW_URL" >> $GITHUB_OUTPUT
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}


      - name: Trigger Cypress repo
        run: |
          curl -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer $CYPRESS_REPO_TOKEN" \
            https://api.github.com/repos/DevDeLeonJS/test-/dispatches \
            -d '{"event_type":"run-cypress","client_payload":{"base_url":"'"${{ steps.preview.outputs.preview_url }}"'"}}'
        env:
          CYPRESS_REPO_TOKEN: ${{ secrets.CYPRESS_REPO_TOKEN }}
